<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Traitées</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Photofichée</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'liste_photos' %}">Liste des Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload_photo' %}">Upload Photo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Liste des images traitées</h1>
    <ul>
        {% for image in images %}
        <li><img src="{{ image }}" alt="Image traitée" style="width: 200px; height: auto;"></li>
        {% endfor %}
    </ul>
    <a href="/upload/">Retour à l'upload</a>
</body>
</html>
